@media (max-width: 481px) {

.main-header {
    width: 100%; /* Preenche toda a largura da tela */
    padding: 0; /* Remove o padding para evitar cortes nas bordas */
    box-sizing: border-box; /* Garante que bordas e padding sejam incluídos na largura total */
    position: relative; /* Para posicionamento adequado */
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

.main-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 50px;
    margin-left: 15px;
    border: 2px solid darkslategray;
}

.main-action {

    display: inline-flex;
    font-size: 20px;

}

.navigation {

    margin-top: 10px;

}

.main-button.downloadCV {
    padding: 9px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navigation a[href="#contacts"] {
    margin-left: 25px;
    margin-right: 15px;
}

}
