@media (max-width: 320px) {

/* Formulário */
  .main-form {
    padding: 30px 15px;
  }

  .main-label {
    font-size: 1.3rem;
  }

  .main-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
  }

  .main-input._textarea {
    min-height: 100px;
  }

  .main-button._full {
    width: 100%;
  }

}