@media (max-width: 769px) {

.main-header {
    width: 100%; /* Preenche toda a largura da tela */
    padding: 0; /* Remove o padding para evitar cortes nas bordas */
    box-sizing: border-box; /* Garante que bordas e padding sejam incluídos na largura total */
    position: relative; /* Para posicionamento adequado */
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}



.wrapper-card {
    max-width: 90%; /* Define a largura máxima do wrapper-card */
    margin: 0 auto; /* Centraliza o wrapper-card */
}

.skill-tec .icon {

    margin-right: 9px;

}

.card-project {
    max-width: 250px; /* Define a largura máxima de cada card-project */
    margin: 0 auto; /* Centraliza cada card-project */
    transform: scale(0.9); /* Reduz o tamanho do card em 10% */
}

.card-project .logo {

    width: 220px;
    height: 220px;
    border-radius: 50%;

}


}


