.card-project {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
}

.card-project .logo {

    width: 260px;
    height: 260px;
    border-radius: 50%;

}

.card-project._blue {

    background-color: blue;  
}