.main-section {

    background-color: #1AABAB;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 10px solid darkslategray;

}

.main-section.-bgproject {

    background-color: #118282;

}

.main-section.-bgabout {

    background-color: #095C5C;

}