.main-carousel {

    display: flex;
    justify-content: space-around;
    position: relative;
    padding-left: 85px;
    padding-right: 85px;

}

.main-carousel::after {

    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    display: block;
    height: 5px;
    width: 100%;
    background-color: black;
}

.main-carousel .button-arrow {

    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.main-carousel .button-arrow._left {

    left: 15px;
}

.main-carousel .button-arrow._right {

    right: 15px;
}