@media (max-width: 321px) {
  .node-card {
    margin: auto;
  }

  .node-card .logo {
    height: 60px;
    width: 60px;
    margin: 0px;
  }

  .node-card::before {
    bottom: 60px;
  }
  .main-description {
    text-align: center;
  }
}
