@media (max-width: 768px) {
    
.main-banner {
    padding: 0;
    min-height: auto;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }

  .main-banner .wrapper {
    width: 100%;
    max-width: none;
    padding: 0;
  }

  .main-title {
    font-size: calc(2.5rem * var(--font-scale));
  }

  .main-subtitle {
    font-size: calc(1.5rem * var(--font-scale));
  }
}