@media (max-width: 768px) {

.main-form {
    padding: calc(30px * var(--spacing-scale));
  }

  .main-label {
    font-size: calc(1rem * var(--font-scale));
  }

  .main-input {
    font-size: calc(1rem * var(--font-scale));
    padding: calc(10px * var(--spacing-scale));
  }
}