@media (max-width: 768px) {

    .wrapper-card {
    flex-direction: column;
    align-items: center;
    gap: calc(30px * var(--spacing-scale));
  }

  .card-project {
    width: calc(300px * var(--scale-factor));
    height: calc(200px * var(--scale-factor));
  }

}